img {
    display: block;
    max-width: 100%;
}

/* Tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
    .intro-bg {
        margin-top: 94px;
    }

    /* Home - Estilos */
    .estilos div.container {
        padding: 30px;
    }

    .estilos .estilo-item {
        margin: 0 13px;
    }

    .estilos .estilo-item, .estilos .estilo-txt {
        width: 210px;
    }

    .estilos .estilo-txt {
        height: auto;
        padding-bottom: 10px;
    }

    .estilos .estilo-txt p {
        margin: 0;
        padding: 3px 7px;
    }

    /* Home - Produtos */
    .produtos img {
        display: block;
        margin: 20px auto;
    }

    /* Home - História */
    .hist div.hist-img img {
        position: relative;
        top: 37px;
    }

    /* Footer */
    footer .footer-bg p {
        width: 350px;
    }

    footer .footer-bg div.redes ul li {
        margin: 5px;
    }

    footer .footer-bg div.redes ul li a img {
        width: 45px;
        height: 45px;
    }

    /* Sobre */
    .intro-sobre {
        margin-top: 94px;
    }

    /* Produtos */
    .intro-produtos {
        margin-top: 94px;
    }

    .prod-estilos div div.estilo img {
        padding: 30px 10px 30px 25px;
    }

    .prod-estilos div div.estilo h2:after {
        margin: 3px 0 5px 0;
    }
    
    .prod-estilos div div.estilo p {
        max-width: 275px;
    }

    /* Orçamento */
    .intro-orcamento {
        margin-top: 94px;
    }

    .orcamento form input, .orcamento form textarea {
        padding: 5px;
        margin: 3px 0 10px 0;
        width: 295px;
    }

    .orcamento div.orcamento-info {
        padding: 35px 40px;
        margin: 0 0 0 10px;
    }

    .orcamento div.orcamento-info ul.redes li {
        margin: 5px;
    }

    .orcamento div.orcamento-info ul.redes li a img {
        display: inline-block;
        width: 55px;
        height: 55px;
    }


}

/* Smartphones */
@media only screen and (max-width: 787px) {
    /* Home - Header */
    header {
        position: relative;
    }

    .menu-nav ul {
        margin-top: 0;
    }

    header div.menu a img {
        max-width: 260px;
        padding: 30px 30px 30px 0;
        margin: 0 auto;
    }

    header div.menu nav.menu-nav ul li a{
        display: block;
        border: 3px solid #fff;
        padding: 10px;
        text-align: center;
    }

    header div.menu nav.menu-nav ul li a:hover {
        text-decoration: none;
        border-color: #0A160E;
        transition: border 0.65s;
    }

    .menu-nav ul li:last-child:after, .menu-nav ul li:last-child:before {
        display: none;
    }

    /* Home - Intro */
    .intro-bg {
        height: 350px;
        margin-top: 0;
    }

    .intro h1 {
        font-size: 2.5em;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        margin-top: 75px;
    }

    .intro h1:after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: #DC4A2C;
        margin: 3px auto 15px auto;
    }

    .intro h3 {
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        padding-bottom: 30px;
    }

    /* Home - Estilos */
    .estilos div.container {
        padding: 20px 25px;
    }
    
    .estilos .estilo-item {
        width: 250px;
    }

    .estilos .estilo-txt {
        width: 250px;
    }

    /* Home - História */
    .hist .hist-img {
        padding: 20px 40px;
        height: 215px;
        margin-bottom: 40px;
    }

    /* Home - Footer */
    footer .footer-bg p {
        padding: 20px 0 0 0;
        width: 350px;
    }
}