/* Geral */

body {
    font-family: 'Ebrima', Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Sitka Banner', Georgia, 'Times New Roman', serif;
}

.btn {
    font-size: 1.125em;
    font-weight: bold;
    color: #DC4A2C;
    border: 4px solid #DC4A2C;
    border-radius: 4px;
    padding: 10px 25px;
    margin: 0 auto;
}

.btn:hover {
    color: #fff;
    border-color: #fff;
    transition: color 0.5s;
    transition: border 0.5s;
}

.btn-verde:hover {
    color: #0A160E;
    border-color: #0A160E;
    transition: color 0.5s;
    transition: border 0.5s;
}

.subtitulo {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitulo:after, .subtitulo:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #70A165;
    transform: rotate(45deg);
    margin: 0 0 5px 30px;
}

.subtitulo:before {
    margin: 0 30px 5px 0;
}

.menu-nav .menu-ativo {
    color: #0A160E;
    text-decoration: underline;
}

/* Header */

header {
    width: 100%;
    background: #70A165;
    position: fixed;
    top: 0;
    z-index: 5;
}

header div img {
    display: inline;
    max-width: 230px;
    max-height: 100px;
    padding: 30px 0;
}

.menu {
    text-align: right;
    z-index: 5;
}

.menu-nav ul {
    margin-top: 40px;
    text-align: right;
}

.menu-nav ul li {
    display: inline;
    padding: 5px;
    margin-left: 20px;
}

.menu-nav ul li:last-child:after, .menu-nav ul li:last-child:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: rotate(45deg);
    margin: 0 0 2px 15px;
}

.menu-nav ul li:last-child:before {
    margin: 0 15px 2px 0;
}

.menu-nav ul li:last-child:hover::before, .menu-nav ul li:last-child:hover::after {
    background: #0A160E;
    transition: background 0.75s;
}

.menu-nav ul li a{
    color: #fff;
    font-size: 0.875em;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 10px;
}

.menu-nav ul li a:hover {
    color: #0A160E;
    text-decoration: underline;
    transition: color 0.75s;
}

/* Intro */

.intro-bg {
    background: url(../img/bg-intro.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 380px;
    text-align: center;
    position: relative;
    margin-top: 96px;
}

.intro h1 {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-top: 125px;
}

.intro h3 {
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 35px;
}

/* Estilos */

.estilos {
    text-align: center;
}

.estilos .subtitulo {
    margin: 60px 0 40px 0;
}

.estilos div.container {
    background: #0A160E;
    color: #fff;
    padding: 30px 50px;
}

.estilos .estilo-item {
    width: 260px;
    height: 300px;
}

.estilos .estilo-txt {
    width: 260px;
    height: 100px;
    background: #70A165;
}

.estilos .estilo-txt h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.estilos .estilo-txt h2:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #DC4A2C;
    margin: 3px auto;
}

.estilos .estilo-txt p {
    margin: 4px 0 0 5px;
}

.estilos .call {
    font-size: 0.875em;
    margin: 40px 0 29px 0;
}

/* Produtos */

.produtos {
    color: #fff;
    text-align: center;
    background: #0A160E;
    margin-top: 74px;
    padding-bottom: 54px;
}

.produtos .subtitulo {
    padding: 40px;
}

.produtos-itens .call{
    font-size: 0.875em;
    padding: 40px 0 29px 0;
}

/* História */

.hist {
    text-align: center;
}

.hist h1.subtitulo {
    padding: 60px 0 40px 0;
}

.hist .hist-txt {
    text-align: left;
    font-size: 0.875em;
}

.hist .hist-txt p {
    padding: 10px 0;
}

.hist .hist-txt p:nth-of-type(1) {
    padding-top: 55px;
}

.hist .hist-img {
    background: #0A160E;
    padding: 20px 40px;
    height: 340px;
    margin-bottom: 40px;
}


.hist p.call {
    font-size: 0.875em;
    padding: 29px 0;
}

/* Footer */

footer {
    color: #fff;
    background: #70A165;
    margin-top: 74px;
}

footer .footer-bg p {
    font-size: 0.875em;
    padding: 20px 0 50px 0;
    width: 390px;
}

footer .footer-bg h2 {
    color: #0A160E;
    font-size: 1.125em;
    font-weight: bold;
    padding-top: 30px;
}

footer .footer-bg h2:after {
    content: '';
    display: block;
    width: 45px;
    height: 2px;
    background: #0A160E;
    margin: 2px 0;
}

footer .footer-bg ul {
    padding-top: 17px;
}

footer .footer-bg ul li {
    font-size: 0.875em;
    font-family: 'Sitka Banner', Georgia, 'Times New Roman', serif;
    line-height: 25px;
}

footer .footer-bg div.redes ul li {
    display: inline;
    margin: 5px 0 0 15px;
}

footer .footer-bg div.redes ul li:hover {
    filter: brightness(95);
    transition: filter 0.65s;
}

footer .footer-bg div.redes ul li:first-child {
    margin: 5px 0 0 0;
}

footer .copy-bg {
    background: #0A160E;
}

footer .copy p {
    font-family:  'Sitka Banner', Georgia, 'Times New Roman', serif;
    font-size: 0.875em;
    padding: 16px 0;
}